.text-area {
  -fx-font-family: Consolas;
  -fx-font-size: 12pt;
  -fx-highlight-fill: #00ff00;
  -fx-highlight-text-fill: #000000;
  -fx-text-fill: #00ff00;
  -fx-control-inner-background: #000000;
}